body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.red{
    color:red;
}

.green {
    color:green;
}

.imageDiv {
    margin: 10px 10px 10px 10px;
    border: 2px 2px 2px 2px solid blue;
    -moz-box-shadow: 0px 0px 10px 1px blue;
    -webkit-box-shadow: 0px 0px 10px 1px blue;
    box-shadow: 0px 0px 10px 1px blue;
}

.imageBorder {
    width: 100%;
    height: auto;
}

.carousel {
    max-height: 700px;
    overflow: hidden;
}

.form-group {
    background-color: lightblue;
}

.list-group {
    max-height: 150px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.btn-primary {
    margin: 10px 0px 10px 10px;
}

h5 {
    margin-left: 5px;
    margin-right: 5px;
}

